html,
body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p > img {
  height: 100%;
  display: inline-block;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.5;
}

blockquote {
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  background-color: whitesmoke;
}