.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: 0.5s;
}
.sidenav .active {
  width: 100%;
  padding: 60px 30px;
}
@media (min-width: 768px) {
  .sidenav {
    width: 25%;
    padding: 30px;
  }
}